data_lfs/saves/my_auto_save_legendary.save filter=lfs diff=lfs merge=lfs -text
data_lfs/saves/1.save filter=lfs diff=lfs merge=lfs -text
data_lfs/saves/auto_save.save filter=lfs diff=lfs merge=lfs -text
data_lfs/names.loc filter=lfs diff=lfs merge=lfs -text
